body {
    color: white;
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

body * {
    margin: 5px;
}

h1 {
    text-align: center;
    margin: 20px;
    color: orange;
}

input {
    padding: 10px;
    border-radius: 8px;
}

button {
    font-size: 18px;
    padding: 10px;
    /* color: orange; */
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 8px;

    &:hover {
        color: orange;
        background-color: white;
    }
}

h5 {
    font-size: 18px;
}