body {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

body * {
    margin: 5px;
}

h1 {
    text-align: center;
    margin: 20px;
    color: orange;
}

input,
select {
    padding: 10px;
    border-radius: 8px;
    width: -webkit-fill-available;

}

input[type="checkbox"] {
    width: auto;
}

button {
    font-size: 18px;
    padding: 10px;
    /* color: orange; */
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 8px;

    &:hover {
        color: orange;
        background-color: white;
    }
}

h5 {
    font-size: 18px;
}

#modeDark {
    visibility: hidden;
}


/* tooltip*/
.tooltip {
    position: relative;

    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*dark mode*/

body {
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background-color: #222;
    color: #fff;
}

.toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
}